body {
    background-color: #bfedff;
    color: #333;
    font-family: Arial;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

header, main, footer {
    max-width: 900px;
    margin: 20px auto;
}

header, section, footer, nav {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #222;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* MENU */
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007BFF;
}

.nav-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    z-index: 1000;
}

.nav-sticky ul {
    padding: 15px 0;
}

#nav-placeholder {
    height: 0;
    display: block;
}

/* SOBRE MIM */
.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}    

.about-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* FORMULÁRIO */
form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* BOTÃO */
form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* RESPONSIVO */
@media (max-width: 700px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }
}

/* MODAL */
#modal-overlay {
    display: none; /* <- inicia invisível */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    cursor: pointer;
}

/* Aparece somente quando a classe .modal-hidden for removida */
#modal-overlay:not(.modal-hidden) {
    display: flex;
}

/* Esconde o modal */
.modal-hidden {
    display: none;
}

/* Imagem grande */
#modal-image {
    max-width: 80%;
    max-height: 80%;
    border: 3px solid white;
    border-radius: 5px;
}
