body{
    background-color: #bfedff;
    color: #333;

    /*Tipografia*/
    font-family: Arial;
    line-height: 1.6;
}

html{
    scroll-behavior:smooth;
}

header,
main,
footer{
    max-width: 900px; /*significa que a caixa terá no maximo 900 pixels*/
    margin: 20px auto; /*20px nas laterais automatico em cima e em baixo*/
}

/*Cria cartões em banco na pagina*/
header,
section,
footer,
nav{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px; /*adiciona bordas arredondadas*/

}

/*espaçar as sessões*/
section{
    margin-bottom: 20px;
}

/*Estilo do texto*/
h1,h2{
    color: #222;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    margin-bottom: 10px; /*Espaço abaixo do titulo*/
}

/*remover as bolinhas de listas de menu*/
nav ul{
    list-style-type: none; /*remove as bolinhas*/
    display: flex;
    padding: 0; /*remove o preenchimento padrão do HTML*/
    justify-content: center;
}

/*coloca o menun lado a lado*/
nav ul{
    display: flex; 
    gap: 16px; /*cria um espaço de 16px entre os topicos*/
}

/*estiliza os links do menu*/
nav ul li a{
    text-decoration: none;
    color: #555;
    font-weight: bold; /*deixa a fonte em negrito*/
}

/*efeito visual ao passar o mouse*/
nav ul li a:hover{
    color: #007BFF;
}

.nav-sticky{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    z-index: 1000;
}

.nav-sticky ul{
    padding: 15px 0;
}

#nav-placeholder{
    height: 0;
    display: block;
}

/*Sobre mim*/
.about-content {
    display: flex;
    align-items: center; /* Alinha o texto no meio da imagem */
    gap: 20px;
    margin-top: 20px;
}    

.about-content img {
    
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Isso faz o círculo */
    object-fit: cover;
    float: right;
}

/*formulario*/
form div{
    margin-bottom: 15px;
}

form label{
    display: block; /*faz a label ocupar a linha inteira*/
    margin-bottom: 5px;
    font-weight: bold; /*negrito*/
}

form input[type="text"],
form input[type="email"],
form textarea{
    width: 100%; /*ocupa 100% de largura*/
    padding: 10px; /*espaçamento interno para digitar*/
    border: 1px solid #ccc;
    border-radius: 5px;

    box-sizing: border-box;
}

/*botão de envio*/
form button[type="submit"]{
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; /*muda o cursor para a mãozinha*/
}

/*muda o botão quando passar por cima*/
form button[type="submit"]:hover{
    background-color: #0056b3; /*quando passar o mouse por cima muda a cor do botão*/
}

/*Regras de Respansividade (Media Queries)*/
@media (max-width: 700px){
    .about-content{
        flex-direction: column;
        align-items: center;
    }
}